/* ========= */
/* = Reset = */
/* ========= */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
.fleft{float:left;}
.fright{float:right;}
.fnone{float:none;}

/* =========== */
/* = 5min.dk = */
/* =========== */
body {
  background: #fff;
  font: bold 16px "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: #111;
  text-align: center;
  overflow:hidden;
}
h1 {
  padding-top: 60px;
  font-size: 16em;
}
h1.greyed {
  color: #999;
}
a {
  color: #369;
  text-decoration: none;
}
input.text {
  border: 1px solid #666;
  border-right-color: #999;
  border-bottom-color: #999;
  background: #eee;
  font-size: 1em;
  color: #444;
  vertical-align: middle;
}

a.open {
  display: block;
  width: 140px;
  height: 50px;
  margin: 0 auto;
  background: url("/images/indstil.png") no-repeat 0 0;
}
  a.open:hover { background-position: 0 -50px; }
  a.open:active { background-position: 0 -100px; }
  a.open span {
    display: none;
  }

#sound {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
#sound_off {
  display: none;
}
a#sound_check {
  display: block;
  height: 43px;
  width: 43px;
  background: url("/images/sound.png") no-repeat 0 0;
}
a#sound_check.off {
  background-position: 0 -43px;
}

#detersmart {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  padding: 10px;
  right: 0px;
}

#template_wrap {
  padding-left: 50%;
}
#templates {
  position: absolute;
  text-align: left;
  margin-left: -150px;
  display: none;
  width: 300px;
  border: 2px solid #666;
  background: #f1f1f1;
  top: 110px;
  z-index: 1200;
  
  background: url("/images/grad.png") repeat-x bottom left;
}
  #templates a.close {
    position: absolute;
    margin-left: 285px;
    margin-top: -15px;
  }
  #templates ul {
  }
    #templates li a {
      display: block;
      border-bottom: 1px solid #aaa;
      padding: 10px 15px;
      padding-left: 32px;
      font-weight: normal;
      font-size: .9em;
      color: #555;
      background: transparent none no-repeat 2px 8px;
    }
    #templates li a:hover {
      border-color: #777;
      color: #333;
    }
    #templates li a:active {
      background-color: #ccc;
    }
    #templates li span {
      position: absolute;
      margin-top: -2.4em;
      font-size: .7em;
      width: 40px;
      margin-left: 245px;
      text-align: right;
    }
    #templates li {
      background: url("/images/grad.png") repeat-x bottom left;
    }
    #templates li.aeg a {
      background-image: url("/images/bullet_aeg.png");
    }
    #templates li.kartoffel a {
      background-image: url("/images/bullet_kartoffel.png");
    }
    #templates li.zzz a {
      background-image: url("/images/bullet_zzz.png");
    }
  #templates form {
    padding: 10px 15px;
  }
    #templates form p.fright {
      padding-top: 3px;
    }
  
#container,
#inverted_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
#inverted_wrap {
  width: 0;
}
#inverted {
  background: #111;
  color: #fff;
  text-shadow: #000 0px 0px 0px;
  width: 100%;
  height: 100%;
}


a.button {
  background: #222;
  padding: 5px 8px;
  color: #fff;
  text-decoration: none;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: #000 0 0 0; }
  a.button:hover {
    background: #111; }
  a.button:active {
    background: #000; }
